.header {

}
.avatar {
    display: flex;
}
.avatar-image {
    width: 250px;
    height: 200px;
    margin: 0 auto;
}
.section {

}
.params {
    list-style: none;
}
.main {
    display: flex;
    justify-content: space-between;
}
.mainblock {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    border: 1px black solid;
}